body {
    font-family: Arial, sans-serif;
    background: #0e0e0e;
    color: white;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background: #ff4444;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    width: 30%;
    background: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
}

.task-container {
    min-height: 300px;
}

.task {
    background: #2b2b2b;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: grab;
}

.task h4 {
    margin: 0;
}

.delete-btn {
    margin-top: 10px;
    background: #ff3333;
    padding: 6px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}
